body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.main > h1{
  float: left;
}
img{
  height: 200px;
  width: 300px;
}
.logo{
  height: 50px;
  width: 100px;
}
.left{
   grid-column: span 1;
}
.right{
  grid-column: span 1;
}
.main{
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200pxpx 300px ;
  text-align: justify;
}
.a{
  grid-column: span 4;
}
.card{
  display: block;
}
@media (max-width: 690px) {
  .logo{
    size: 150px;
  }
}
